.App {
  text-align: center;
  color:aliceblue;
}

.heading{
  margin-bottom: 5px;
}

.text{
  margin-bottom: 5px;
}

.hr-line{
  width: 50%;
}

.display-box{
  background-color:antiquewhite;
  width: 50%;
  height: 200px;
  margin: 40px 330px 5px 330px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.alphabet{
  align-self: center;
  color: green;
  font-weight: bolder;
  font-size: 100px;
}

.sucess{
  color: green;
  font-weight: bolder;
  font-size: 40px;
}

.failure{
  color: rgb(237, 21, 9);
  font-weight: bolder;
  font-size: 40px;
}

.show-time{
  font-size: larger;
  font-weight: 900;
}

.best-time{
  font-size:medium;
  font-weight: 700;
}

.input-box{
  width: 440px;
  height: 40px;
  margin-left: 335px;
  border-radius: 10px;
  margin-left: 0;
  text-align: center;
  font-size: larger;
}

.btn{
  width: 200px;
  height: 45px;
  border-radius: 10px;
  margin-left: 5px;
  color: aliceblue;
  font-weight: bold;
  font-size: larger;
  background-color: #f53877;
}

